<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
<p>Good day {{ user.username }},</p>

<p>A request was received to reset the password for your Food Safety Agency account.</p>

<p>Please use the secure link below to create a new password. This link is valid for 1 hour:</p>

<p><a href="{{ reset_link }}">Reset Account Password</a></p>

<p>If you did not request this reset, please ignore this message. Your account will remain unchanged.</p>

<p>Kind regards,<br>
Food Safety Agency</p>
</body>
</html>
